<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Please login</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Return to MainPage</a>
        </li>
    </ul>
</nav>
<div class="container">
<h1 class="display-4">Please Login</h1>
<form th:action="@{/processlogin}" th:method="post">
    <div class="form-group">
        <label for="name">Login:</label>
        <input type="text" name="username" placeholder="Username" id="name" class="form-control" required/>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="password" placeholder="Password" id="pwd" class="form-control" required/>
    </div>
    <input type="submit" value="Login" class="btn btn-primary"/>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${loginFailed}">
        Błąd loginu lub hasła
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</form>
</div>
</body>
</html>